.btn-icon {
  font-size: rem(18px);
  line-height: rem(16px);
  padding-right: rem(10px);
  font-weight: bold;
}

.header-detail-padding {
  padding: rem(7px) rem(10px) rem(7px) rem(30px);
}

.react-datepicker-popper {
  z-index: 10;
}